<div class="container">
    <div class="col">
        <h1>Inicio Sesion</h1>

        <i class="material-icons" style="font-size: 200px;">person</i>


        <!--Email de usuario-->
        <mat-form-field appearance="fill">
            <mat-label>ingrese su email</mat-label>
            <input [(ngModel)]="usuario.email" matInput placeholder="ej: juancitofoyth32@gmail.com">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <!--contraseña usuario-->

        <mat-form-field>
            <mat-label>ingrese una contraseña</mat-label>
            <input [(ngModel)]="usuario.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6"
                required="6">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
        </mat-form-field>

        <!--boton para enviar a la base de datos-->
        <button class="boton" mat-raised-button color="primary" (click)="iniciar()">Iniciar Sesión</button>
    </div>

</div>