.example-spacer {
    flex: 1 1 auto;
 }

 mat-toolbar{
  background-color: rgb(138, 90, 43);
}
 /* Corresponde a pantallas chicas ej telefono*/
@media (min-width:300px) and (max-width:700){
  #menuInicio{
    display: none;
  }

  #menuProducto{
    display: none;
  }
}
/* Corresponde a pantallas grandes ej compu */
@media (min-width:700px){
  
  #menuSecciones{
    display: none;
  }
}