<div id="todo">
    <div class="container">
        <h1>Registrate</h1>
        <p>para poder contuinar en nuestra pagina te pedimos que te crees un ususario :D</p>
    </div>

    <div class="container" id="registro">
        <div class="row">
            <h1>registrate</h1>

            <i class="material-icons" style="font-size: 200px;">person</i>

            <!--Email de usuario-->
            <mat-form-field >
                <mat-label>ingrese su email</mat-label>
                <input [(ngModel)]="usuarios.email" matInput placeholder="ej: juancitofoyth32@gmail.com">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <!--Rol de usuario-->
            <mat-form-field>
                <mat-label>Cars</mat-label>
                <select [(ngModel)]="usuarios.rol" matNativeControl required>
                    <option value="adm">admistrador</option>
                    <option value="vis">Visitante</option>
                </select>
            </mat-form-field>

            <!--contraseña usuario-->
            <mat-form-field>
                <mat-label>ingrese una contraseña</mat-label>
                <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6"
                    required="6">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
            </mat-form-field>

            <!--boton para enviar a la base de datos-->
            <button class="boton" mat-raised-button color="primary" (click)="registrar()">Registrar</button>
        </div>
    </div>
</div>